/* src/About.css */
.about-container {
  overflow: scroll;
  overflow-x: hidden;
  max-width: 700px;
  min-width: 700px;
  max-height: 700px;
  min-height: 700px;
  margin: 40px auto;
  padding: 30px;
  background: linear-gradient(55deg, #332749, #dbd1ff, #c476af);
  border: 2px dashed #794c6b;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Comic Neue', cursive, sans-serif;
  text-align: center;
  resize: none;
}

.about-container::-webkit-scrollbar {
  width: 2px;
  background-color: #fafafa00;
  border-radius: 7px;
}

.about-container::-webkit-scrollbar-thumb {
  width: 2px;
  background-color: #d5d1d11f;
  border-radius: 7px;
}


.about-container h2 {
  word-spacing: 0px;
  font-size: 2.4rem;
  font-family: 'Comic Neue', cursive, sans-serif;
  color: #3e3b3b;
  margin-bottom: 1rem;
}

.about-container p {
  font-size: 1.5rem;
  margin-bottom: 4px;
  color: #231e1d;
  margin-top: 0px;
}

/* Dark mode styles for About page */
.about-container.dark-mode {
  background-color: #1e1e1e;
  color: #674765;
  background: linear-gradient(55deg, #1b0909, #100a0f, #1c0018);
  border: 2px dashed #4a5568;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/*.dark .about-container::-webkit-scrollbar-thumb {
  background-color: #4a4a4a3f;
}

.about-container.dark-mode h2 {
  color: #d4d3d3 important!;
}*/

.about-container.dark-mode p {
  color: #795c5c;
}
