.add-entry-page {
  max-width: 500px;
  margin: 40px auto;
  padding: 30px;
  background-color: #fff7fb;
  border: 2px dashed #e48ec9;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Comic Neue', cursive, sans-serif;
  text-align: center;
  resize: none;
}

.add-entry-page h2 {
  margin-bottom: 20px;
  color: #d63384;
}

.entry-title,
.entry-text {
  width: 100%;
  margin: 10px 0;
  border: 2px solid #f5b3da;
  border-radius: 10px;
  font-size: 1rem;
  font-family: 'Comic Neue', cursive;
  background-color: #fff0f6;
  transition: border 0.3s ease;
}

.entry-title:focus,
.entry-text:focus {
  border-color: #ff61a6;
  outline: none;
}

.entry-text {
  height: 120px;
  resize: none;
}

.submit-entry-btn {
  background: linear-gradient(45deg, #b5fffe, #df81b6);
  color: rgb(255, 255, 255);
  border: none;
  box-shadow:0 4px 12px rgba(0, 0, 0, 0.1); 
  padding: 10px 22px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 12px;
  transition: background-color 0.3s ease;
}

.submit-entry-btn:hover {
  background: linear-gradient(45deg, #82fffd, #df81b6cf);
}

.cancel-btn{
  color: rgb(255, 255, 255);
  border: none;
  box-shadow:0 4px 12px rgba(0, 0, 0, 0.1); 
  padding: 10px 22px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 12px;
  transition: background-color 0.3s ease;
  background: linear-gradient(45deg, #b5fffe, #df81b6);
}
.cancel-btn:hover{
  background: linear-gradient(45deg, #82fffd, #df81b6cf);
}

.font-selector {
  margin-bottom: 1rem;
  position: relative;
}

.font-toggle-btn {
  border: none;
  box-shadow:0 4px 12px rgba(0, 0, 0, 0.1); 
  padding: 10px 22px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 12px;
  background: linear-gradient(45deg, #b5fffe, #df81b6);
}

.font-toggle-btn:hover{
  background: linear-gradient(45deg, #82fffdd4, #df81b6cf);
}

.font-list {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: scroll;
  margin-top: 8px;
  padding: 0;
  list-style: none;
  width: 200px;
  z-index: 10;
}

.font-list li {
  padding: 8px;
  cursor: pointer;
}

.font-list li:hover {
  background-color: #f0f0f0;
}