/* Policy.css */

.policy-container {
  overflow: scroll ;
  overflow-x: hidden;
  max-width: 400px;
  min-width: 400px;
  max-height: 400px;
  min-height: 400px;
  margin: 40px auto;
  padding: 30px;
  background: linear-gradient(55deg, #332749, #dbd1ff,#c476af);
  border: 2px dashed #794c6b;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Comic Neue', cursive, sans-serif;
  text-align: center;
  resize: none;
}
.policy-container::-webkit-scrollbar{
  width:2px;
  background-color: #fafafa00;
  border-radius: 7px;
}
.policy-container::-webkit-scrollbar-thumb{
  width:2px;
  background-color: #d5d1d17f;
  border-radius: 7px;
}

.policy-container.dark-mode {
  background-color: #1e1e1e;
  color: #f0f0f0;
}s

.policy-container h1{
   margin-bottom: 1rem;
  color: #313131;
}
.policy-container h4 {
  margin-bottom: 1rem;
  color: #313131;
}
.policy-container p {
  margin-bottom: 1rem;
  color: #292525;
}
.back-link{
  position: fixed;
  /* Ensures it stays on top */
  left:500px;
  border-radius: 5px;
  padding: 7px;
  background: linear-gradient(45deg, #bf8fff, #ff8b9f);
  color: white;
  text-align: center;
}
.back-link:hover{
  background: linear-gradient(45deg, #a45fff, #ff5e79);
}
