/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex ;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(62, 49, 243, 0.595);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

h2 {
  margin-bottom: 30px;
  color: #0e0055;
  
}

label{
  color: #0e0055;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  text-align: left;
  font-weight: bold;
  display: block;
  margin-top: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #040076;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  width: 50%;
}

button:hover {
  background-color: #01124b;
}
