/* Homepage.css */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f6f9;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  height: 50vh;
  width: 90%;
  max-width: 1200px;
  position: relative;
  /* overflow: hidden; */
}

/* Sidebar Dashboard */
.sidebar {
<<<<<<< HEAD
  width: 80px;
  background: rgb(119, 134, 255);
  color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
=======
  width: 90px;
  background: #a7c6e4;
  color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
>>>>>>> d56b45540260590d991539537cf4f848f7db0acc
  cursor: pointer;
  transition: transform 0.5s ease, width 0.5s ease;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  height: 50vh;
}

/* Sidebar Expanded */
.sidebar.expanded {
  transform: translateX(-120px);
  width: 200px;
}

/* Sidebar Toggle Button */
.toggle-btn {
  background: #ffffff;
  color: rgb(0, 77, 73);
  padding: 6px;
  border: none;
  font-size: bold 18px;
  cursor: pointer;
  border-radius: 6px;
  width: 100%;
}

.toggle-btn:hover {
  background: #b9fffb;
}

/* Sidebar Content */
.sidebar-content {
  margin-top: 20px;
}

.sidebar h2 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 15px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 8px;
}

.sidebar li:hover {
  background: #b9fffb;
}

/* Journal Area */
.homepage-content {
  flex: 1;
  background: rgba(173, 182, 255, 0.899);
  padding: 20px;
  border-radius: 12px;
<<<<<<< HEAD
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
=======
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
>>>>>>> d56b45540260590d991539537cf4f848f7db0acc
  text-align: center;
  margin-left: 100px;
  /* transition: margin-left 0.5s ease-in-out; */
  height: 50vh;
  width: 30vh;
}

/* Adjust Journal Area when Sidebar Expands */
.homepage-content.shifted {
  margin-left: 75%;
}

/* Entries Section */
.entries {
  background: rgba(173, 182, 255, 0.899);
  padding: 20px;
  border-radius: 10px;
}

textarea {
  resize: none;
}

h2{
  color: #003f3c;
}
h3 {
  color: #003f3c;
  font-size: 22px;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background: #ffffff;
  padding: 14px;
  margin: 10px 0;
  border-radius: 8px;
  font-size: 16px;
  color: #002727;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  border-left: 6px solid #004749;
  transition: transform 0.2s ease-in-out;
}

li:hover {
  transform: scale(1.03);
}
